# Directories
auto/
Arduino/
Desktop/
Documents
Downloads/
Dropbox/
gems/
latex_tests/
Music
perl5/
Pictures/
Steam/
R/
snap/
texmf/tlpkg/
texmf/web2c/
Videos/


# Misc
*.pdf
*.jar
keepassxc-snap-helper.sh
matlab*
.scripts/*.png
.scripts/conky/spotify/current_artwork.*
.scripts/conky/spotify/stored_track.txt
.scripts/go
.scripts/wegorc
*.toml
*.txt
uv.lock
.*
*~

# exceptions to wildcards above
!.scripts/
!.gitignore*
!.bashrc.d/